@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans&family=Poppins:wght@100;300&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.main-container{
    width: 100%;
    height: auto;
}
.mini-bar{
    width: 100%;
    height: 40px;
    background-color: green;
    display: flex;
    align-items: end;
    justify-content: end;
    /* align-items: end; */
    justify-content: end;
    /* padding-block: 5px; */
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    

}
.mini-bar ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
    text-align: end;
    

}
.mini-bar ul li{
    padding-left: 10px;
}
.mini-bar ul li:hover{
    background-color: white;
    color: #A0D088;
    /* text-align: center; */
}
.mini-bar ul li img{
    width: 30px;
}
.mini-bar ul li:last-child{
    display: none;
}
.mini-bar ul span{
    width: 50;
    text-align: start;
    display: flex;
    align-items: start;
    justify-content: start;
}

.ul1 li{
    display: none;
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-inline: 90px;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.777);
}
.logo-section{
    width: 30%;
    height: auto;
}
.logo-section img{
    width: 180px;
}
.text-section{
    width: 70%;
    height: auto;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav li{
    list-style: none;
}
.nav li:first-child{
    color: #A0D088;
}
.nav li:hover{
    color: #A0D088;
    text-decoration: underline;
}
.hero-section{
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-image: url(./assets/bg_test.jpg);
    background-position: center;
    background-size: cover;
}

.hero-section2{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background-color: #F2F2F2;
}
.part1{
    width: 50%;
    height: auto;
}
.part1 h3{
    font-size: 32px;
    font-weight: 400;
    margin-top: 10px;
}
.part1 p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;

}
.part1 button{
    width: 140px;
    height: 40px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
    background-color: #009FE3;
    color: white;
    border: none;
    border-radius: 5px;
}
.part1 img{
    width: 600px;
}
.part2{
    width: 50%;
    height: auto;
}
.part2 img{
    width: 600px;
}
.part2 h3{
    font-size: 32px;
    font-weight: 400;
    margin-top: 10px;
}
.part2 p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;

}
.part2 button{
    width: 140px;
    height: 40px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
    background-color: #009FE3;
    color: white;
    border: none;
    border-radius: 5px;
}

.hero-section3{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #212121;
    padding-inline: 90px;
    /* padding-inline: 20px; */
}
.text-part{
    width: 50%;
    height: auto;
    flex-direction: column;
}
.text-part img{
    width: 160px;
}
.text-part h6{
    font-size: 14px;
    font-weight: 700;
    color: white;

}
.text-part p{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-top: 5px;
}
.logo-part{
    width: 50%;
    height: auto;
}
.logo-part img{
    width: 100px;
}
.footer{
    width: 100%;
    height: 40px;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.p1{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p1 p{
    color: #888888;
    font-size: 14px;
    font-weight: 400;
}
.p2{
    width: 100%;
    height: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.p2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.p2 ul li{
    padding-left: 20px;
    list-style: none;
    font-size: 14px;
    font-weight: 400;

}
.p2 ul li a{
    text-decoration: none;
    color: #888888;
}
.p2 ul li a:hover{
    color: white;
    text-decoration:underline;
}



/* responsive */

@media (max-width:768px) {
    .main-container{
        width: 100%;
        height: auto;

    }
    .mini-bar{
        width: 100%;
        height: 40px;
        padding-inline: 10px;
    }
    .mini-bar ul li:last-child{
        display: inline;
    }
    .ul1 li{
        display: inline;
    }
    .navbar{
        width: 100%;
        height: auto;
    }
    .logo-section{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .text-section{
        display: none;
    }
    .hero-section{
        width: 100%;
        height: auto;
    }
    .hero-section img{
        width: 100%;
        height: 500px;
    }
    .hero-section2{
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 20px;
    }
    .part1{
        width: 100%;
        height: auto;
    }
    .part1 img{
        width: 100%;
    }
    .part1 h3{
        font-size: 23px;
        font-weight: 400;
    }
    .part1 p{
        font-size: 14px;
        font-weight: 400;
    }
    br{
        display: none;
    }
    .part1 button{
        width: 100px;
        height: 30px;
        font-size: 13px;
        font-weight: 400;
        margin-top: 20px;
        background-color: #009FE3;
        color: white;
        border: none;
        border-radius: 3px;
        margin-bottom: 20px;
    }
    .part2{
        width: 100%;
        height: auto;
    }
    .part2 img{
        width: 100%;
    }
    .part2 h3{
        font-size: 23px;
        font-weight: 400;
    }
    .part2 p{
        font-size: 14px;
        font-weight: 400;
    }
    
    .part2 button{
        width: 100px;
        height: 30px;
        font-size: 13px;
        font-weight: 400;
        margin-top: 20px;
        background-color: #009FE3;
        color: white;
        border: none;
        border-radius: 3px;
    }
    .hero-section3{
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 20px;
    }
    .text-part{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .text-part img{
        width: 150px;
        align-items: center;
    }
    .text-part h6,p{
        text-align: center;
    }
    .logo-part{
        width: 100%;
        height: auto;
    }
    .logo-part img{
        width: 80px;
        margin-top: 20px;
    }
    .footer{
        width: 100%;
        height: 80px;
        flex-direction: column;
    }
    .p1,.p2{
        margin-top: 10px;
    }
    .p2 ul li{
        font-size: 16px;
        font-weight: 400
    }
    

}